{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming ٩(๑•̀o•́๑)و </title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    {% block title %}
    <!-- 타이틀부분 -->
    <div class="title"> 
        <h1> <a href="{% url 'main' %}">
            <img src = "../static/eye.png " width ="400px">
        </a> </h1>
    </div>
    {% endblock title %}
    <div class = "aboutus">
        <p> 혹시 당신, </p>
        <p> 유통기한을 넘기고 버리는 물건들이 많으신가요? </p><br><br>
        <h1> 당신에게 꼭 필요한 </h1>
        <h1> 신개념 유통기한 관리 서비스  </h1>
        <h1> 'COMING'을 소개합니다 </h1><br><br>
        <p> * 구현한 기능 * </p>
        <p> 로그인 로그아웃 회원가입 </p>
        <p> 카테고리/새로운 아이템 추가 기능 </p>
        <p> 카테고리 별로 상품 모아보기 기능 </p>
        <p> 유통기한이 빠른 순서대로 정렬 </p><br><br>
        <p> * 아쉽게도 아직 준비 중인 기능 * </p>
        <p> 지정해둔 유통기한이 끝났을 때 알림이 뜨게 하는 것 (시간 부족) </p>
        <p> 유통기한이 임박했을 때 상품을 빨간색 박스에 담아서 보여지게 하기 (시간 부족) </p>
    </div>
</body>
</html>