<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/home.css">
    <title>HOME</title>
    
</head>
<body>
    
    <img src = "../static/eye.png " width ="400px">
        {% if user.is_authenticated %}
        {% csrf_token %}
        <h1>COMING에 오신 것을 환영합니다.</h1>
        {% endif %}
    
        <div class = "wrap">
            <button class ="button">
                <a href ="{% url 'loginhome' %}">login</a>
            </button>
        </div>
        <div class = "wrap">
            <button class ="button">
                <a href ="{% url 'signuphome' %}">회원가입</a>
            </button>
        </div>    
        <div class = "wrap">      
            <button class ="button">
            <a href ="{% url 'logout' %}">logout</a>
            </button>
        </div>
    
</body>
</html>