{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming ٩(๑•̀o•́๑)و </title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    {% block title %}
    <!-- 타이틀부분 -->
    <div class="title"> 
        <h1> <a href="{% url 'main' %}">coming</a> </h1>
    </div>
    {% endblock title %}

    {% block content %}
    <div class="bottom">  
        <!-- 프로필 -->
        <div class = "profile">
            <div class = "prof photo"><img src="../static/zz.jpg" id="mypic"></div>  <!-- 사진보여지는부분 -->
            <!-- 메뉴 -->
            <div class = "prof line">------------------------</div>
            <div class = "prof category">
                <a>모아보기</a>
            </div>
            <div class = "prof line">------------------------</div>
            <div class = "prof category">
                <a>냉장보관</a>
            </div>
            <div class = "prof category">냉동보관</div>
            <div class = "prof category">상온보관</div>
            <div class = "prof line">------------------------</div>
            <div class = "prof category">파우치</div>
            <div class = "prof category">약통</div>
            <div class = "prof line">------------------------</div>
            <div class = "prof category">요기</div>
            <div class = "prof category">조기</div>
            <!--새로운 카테고리추가-->
            <div class="newcategory">  
                <a href="{% url 'newcate' %}">NEW<br>CATEGORY</a>
            </div>
        </div>
<!-- 여기까지  템플릿 상속 -->
    {% endblock content %}

        <!-- 모아보기 페이지 -->
        <!-- 다른 카테고리에서는 물건들은 달라도 보여지는 형식은 똑같이 -->
        <div class = "allshow page">
            {% for i in main_key.all %}
            <div class = "box">
                <a href="{% url 'detail' i.id %}">
                    <img style="width: 100px; height:100px;  " src="{{i.img.url}}" />
                    <p>이름 : {{i.name}}</p>
                    <p>유통 기한 : {{i.exp}}</p>
                    <p>보관 장소 :{{i.plc.Plc}}</p>     
                </a>           
            </div>
            {% endfor %}

            <!--새로운 제품추가하는 버튼-->
            <div class="create">  
                <a href="{% url 'newitem' %}">
                    NEW<br>ITEM</a>
            </div>
        </div>
    </div>
</body>
</html>