{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming ٩(๑•̀o•́๑)و </title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    {% block title %}
    <!-- 타이틀부분 -->
    <div class="title"> 
        <h1> <a href="{% url 'main' %}">
            <img src = "../static/eye.png " width ="400px">
        </a> </h1>
    </div>
    {% endblock title %}

    {% block content %}
    <div class="bottom">  
        <!-- 프로필 -->
        <div class = "profile">
            <div class = "prof photo"><img src="../static/zz.jpg" id="mypic"></div>  <!-- 사진보여지는부분 -->
            <!-- 메뉴 -->
            
                
            <div class ="prof category">
            <ul>
                    <li><a href="{% url 'secondmain' %}">모아보기</a></li>
                    <li><a href="{% url 'home' %}">Login page</a></li>
                    {% for i in main_key.all %}
                    <div class = "prof line">------------------------</div>
                    <li>{{i.plc.Plc}}</li>
                    {% endfor %}  
                    <li><a href="{% url 'newcate' %}">NEW<br>CATEGORY</a></li> 
                </ul>
                
            </div>
            
        </div>
<!-- 여기까지  템플릿 상속 -->
    {% endblock content %}
    <div class = middle>
        <!-- 모아보기 페이지 -->
        <!-- 다른 카테고리에서는 물건들은 달라도 보여지는 형식은 똑같이 -->
        <div class = "firstshow page">
            
            {% for i in main_key.all %}
            <div class = "box">
                    <img style="width: 100px; height:100px;  " src="{{i.img.url}}" />
                    <p>이름 : {{i.name}}</p>
                    <p>유통 기한 : {{i.exp}}</p>
                    <p>보관 장소 :{{i.plc.Plc}}</p>   
                    
                    <button id="myBtn">버튼</button>
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <span class="close"> &times; </span>
                            <p>
                                <img style="width: 100px; height:100px;  " src="{{i.img.url}}" />
                                <p>이름 : {{i.name}}</p>
                                <p>수량 : {{i.amount}}</p>
                                <p>구매 날짜: {{i.date}}</p>
                                <p>유통 기한 : {{i.exp}}</p>
                                <p>보관 장소 :{{i.plc.Plc}}</p>   
                                <a href="{% url 'newitem' %}">수정(임시)</a>
                                <a>삭제</a>
                            </p>
                        </div>
                    </div>


            </div>
            {% endfor %}


            <img src = "../static/main.png" width ="1100px" align-items="center">
            <!--새로운 제품추가하는 버튼-->
            <div class=" create">  
                <button>
                    <a href="{% url 'newitem' %}">
                        NEW ITEM</a>
                </button>
            </div>
            <div class=" create">  
                <button>
                <a href="{% url 'secondmain' %}">
                   모아보기</a>
                </button>
            </div>
        </div>
        <div class="footer">
            <div class = "stylef">
                <a href="https://likelion.net/">
                    <img src="../static/1.png" width="1100px" height="200px" align-items="center">
                </a>
            </div>
        </div>
    </div>
    
    <script>
        // Get the modal
        var modal = document.getElementById('myModal');
        
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];                                          

        // When the user clicks on the button, open the modal 
        btn.onclick = function() {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>


</body>
</html>