{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming ٩(๑•̀o•́๑)و </title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    {% block title %}
    <div class="title"> <!-- 타이틀부분 -->
        <h1> <a href="{% url 'main' %}">
            <img src = "../static/eye.png " width ="400px">
        </a> </h1>
    </div>
    {% endblock title %}

    {% block content %}
    <div class="bottom">  <!-- 타이틀 아랫부분 -->
        <div class = "profile">
            <div class = "prof photo"><img src="../static/zz.jpg" id="mypic"></div>  <!-- 사진보여지는부분 -->
            <div class ="prof category">
                <ul>
                        <li><a href="{% url 'home' %}">Login page</a></li>
                        {% for i in main_key.all %}
                        <div class = "prof line">------------------------</div>
                        <li>{{i.plc.Plc}}</li>
                        {% endfor %}  
                        <li><a href="{% url 'newcate' %}">NEW<br>CATEGORY</a></li> 
                    </ul>
                    
                </div>
            

        </div>
<!-- 여기까지  템플릿 상속 -->
        {% endblock content %}
        
        
        <div class = "newitem page">
<!-- 아직 모델이 없어서 위치 선정하기가 넘 애매하길래 일단은 그냥 세로로 보여지게 했어용 -->
        <form action="{% url 'newcate' %}" enctype="multipart/form-data" method ="POST">
            {% csrf_token %}
            <p> 보관장소 추가하기! </p>
            <textarea cols="30" rows="1"  name ="plc"></textarea>
            <input type="submit" value="Add" name = "submit" >
        </form>


        </div>
    </div>
    
    

</body>
</html>