{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming ٩(๑•̀o•́๑)و </title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    {% block title %}
    <div class="title"> <!-- 타이틀부분 -->
        <h1> coming </h1>
    </div>
    {% endblock title %}

    {% block content %}
    <div class="bottom">  <!-- 타이틀 아랫부분 -->
        <div class = "profile">
            <div class = "prof photo"><img src="../static/zz.jpg" id="mypic"></div>  <!-- 사진보여지는부분 -->
            <div class = "prof line">------------------------</div>
            <div class = "prof category">
                <a>모아보기</a>
            </div>
            <div class = "prof line">------------------------</div>
            <div class = "prof category">
                <a>냉장보관</a>
            </div>
            <div class = "prof category">냉동보관</div>
            <div class = "prof category">상온보관</div>
            <div class = "prof line">------------------------</div>
            <div class = "prof category">파우치</div>
            <div class = "prof category">약통</div>
            <div class = "prof line">------------------------</div>
            <div class = "prof category">요기</div>
            <div class = "prof category">조기</div>

            <div class="newcategory">  <!--새로운 제품추가-->
                <a>NEW<br>CATEGORY</a>
            </div>

        </div>
<!-- 여기까지  템플릿 상속 -->
        {% endblock content %}
        
        
        <div class = "newitem page">
<!-- 아직 모델이 없어서 위치 선정하기가 넘 애매하길래 일단은 그냥 세로로 보여지게 했어용 -->
        <form action="{% url 'newitem' %}" enctype="multipart/form-data" method ="POST">
            {% csrf_token %}
            <p> 보관장소 </p>
            <textarea cols="30" rows="1"  name ="plc"></textarea>
            <input type="submit" value="Add" name = "submit" >
        </form>


        </div>

    </div>
    
    

</body>
</html>