{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming ٩(๑•̀o•́๑)و </title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    {% block title %}
    <!-- 타이틀부분 -->
    <div class="title"> 
        <h1> <a href="{% url 'main' %}">coming</a> </h1>
    </div>
    {% endblock title %}

    {% block content %}
    <div class="bottom">  
        <!-- 프로필 -->
        <div class = "profile">
            <div class = "prof photo"><img src="../static/zz.jpg" id="mypic"></div>  
            
            <!-- 메뉴 -->
            <div class = "prof line">------------------------</div>
            <div class = "prof category">
                <a>모아보기</a>
            </div>
            <div class = "prof line">------------------------</div>
            <div class = "prof category">
                <a>냉장보관</a>
            </div>
            <div class = "prof category">냉동보관</div>
            <div class = "prof category">상온보관</div>
            <div class = "prof line">------------------------</div>
            <div class = "prof category">파우치</div>
            <div class = "prof category">약통</div>
            <div class = "prof line">------------------------</div>
            <div class = "prof category">요기</div>
            <div class = "prof category">조기</div>
            
            <!--새로운 제품추가-->
            <div class="newcategory">      
            <a>NEW<br>CATEGORY</a>
            </div>
        </div>
<!-- 여기까지  템플릿 상속 -->
        {% endblock content %}
        
        
        <div class = "newitem page">
<!-- 아직 모델이 없어서 위치 선정하기가 넘 애매하길래 일단은 그냥 세로로 보여지게 했어용 -->
        <form action="#" enctype="multipart/form-data" method ="POST">
            {% csrf_token %}
            <p> 사진</p>
            {{form.img}}
            <p> 이름 </p>
            <textarea cols="30" rows="1"  name ="name"></textarea>
            <p> 수량  </p>
            <textarea cols="40" rows="6" name="amount"></textarea>
            <p> 구매날짜  </p>
            <textarea cols="40" rows="6" name="date"></textarea>
            <p> 유통기한 </p>
            <textarea cols="40" rows="6" name="exp"></textarea>
            <p> 보관장소 </p>
            <textarea cols="30" rows="1"  name ="plc"></textarea>
            <input type="submit" value="Add" name = "submit" >
        </form>
        </div>
    </div>
</body>
</html>