{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming ٩(๑•̀o•́๑)و </title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    {% block title %}
    <!-- 타이틀부분 -->
    <div class="title"> 
        <h1> <a href="{% url 'main' %}">
            <img src = "../static/eye.png " width ="400px">
        </a> </h1>
    </div>
    {% endblock title %}

    {% block content %}
    <div class="bottom">  
        <!-- 프로필 -->
        <div class = "profile">
            <div class = "prof photo"><img src="../static/zz.jpg" id="mypic"></div>  <!-- 사진보여지는부분 -->
            <!-- 메뉴 -->
            
                
            <div class ="prof category">
            <ul>
                    <li><a href="{% url 'home' %}">Login page</a></li>
                    {% for i in main_key.all %}
                    <div class = "prof line">------------------------</div>
                    <li>{{i.plc.Plc}}</li>
                    {% endfor %}  
                    <li><a href="{% url 'newcate' %}">NEW<br>CATEGORY</a></li> 
                </ul>
                
            </div>
            
        </div>
<!-- 여기까지  템플릿 상속 -->
        {% endblock content %}
        
        
        <div class = "newitem page">
<!-- 아직 모델이 없어서 위치 선정하기가 넘 애매하길래 일단은 그냥 세로로 보여지게 했어용 -->
        <form action="{% url 'newitem' %}" enctype="multipart/form-data" method ="POST">
            {% csrf_token %}
            <p> 사진</p>
            {{form.img}}
            <p> 이름 </p>
            <textarea cols="30" rows="1"  name ="name"></textarea>
            <p> 수량  </p>
            <textarea cols="30" rows="1"  name ="amount"></textarea>
            <!-- number타입은 길이 조절 불가 -->
            <p> 구매날짜  </p>
            <input type="date" name="date">
            <p> 유통기한 </p>
            <input type="datetime-local" name="exp">
            <p> 보관장소 </p>
            <select name="where">
                {% for place in placeobject %}
                    <option value="{{place.id}}">
                    <h1>{{place.Plc}}</h1> 
                    </option> 
                {% endfor %} 
            </select>
            <input type="submit" value="Add" name = "submit" >
        </form>
        </div>
    </div>
</body>
</html>