/*기본 배경 부분*/
html, body {
    height: 100%;
    background-color : rgba(238, 250, 253, 0.897);
    font-family : "여기어때 잘난체 OTF";
    text-align : center;
}
/*각 버튼 창 부분*/
.wrap {
    height: 10%;
    display: flex;
    flex-direction :row;
    align-items: center;
    justify-content: center;
    background-color : white;
   
}
/*버튼 디자인*/
.button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    font-family : "여기어때 잘난체 OTF";
    }
    .button:hover {
        background-color: rgb(116, 217, 248);
        box-shadow: 0px 15px 20px rgba(37, 204, 182, 0.4);
        color: #fff;
        transform: translateY(-7px);
      }