/* 페이지 타이틀 부분 */
.title{   
    background-color:rgba(115, 192, 255, 0.541);
    text-align: center;
    height: 110px;
    font-size:20px;
    width: 100%;
    margin: 4px;
}

/* 타이틀 아랫부분 전체 */
.bottom{
    height: 80%;
    display: flex;
    flex-direction: row;
    margin: 4px;
}

/* 프로필 전체 감싸는 div */
.profile{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
   
    text-align: center;
    font-size: 20px;
    margin: 4px;
}

/*  id:mypic 인 이미지 */
#mypic{
    border-radius: 100%;
    height: 200px;
    width: 200px;
    text-align: center;
    margin: 4px;
}

/* 프로필 속 사진 전체 감싸는 div */
.prof.photo{
    flex-direction: column;
    height:250px;
    width : 500px;
    background-color: rosybrown;
}

/* 카테고리들 구분해주는 선 */
.prof.line{
    height:20px;
  
}

/* 프로필에 있는 카테고리만  */
.prof.category{
    height:500px;
    background-color:#f1f1f1;

}


/* 새로운 아이템 추가 버튼 */
.create{
    text-align: center;
    font-size: 20px;
    position: relative;
    padding: 6px;
    cursor: pointer;
}

/* 새로운 카테고리 추가 버튼 */
.newcategory{
    background-color: aquamarine;
    text-align: center;
    font-size: 20px;
    position: fixed;
    left: 290px;
    bottom: 20px;
    cursor: pointer;
    justify-content:flex-end;

}


.page{
    width: 80%;
    height: 100%;
    background-color: rgb(241, 249, 251);
    border : 4px solid rgba(115, 192, 255, 0.541);
    margin: 4px;
}
/* 여기까지는 모든 페이지에서 보여지는 고정 css */

/* 모두보기 페이지 */
.allshow.page{
    display: flex;
    flex-direction: row;
    vertical-align:middle;
}

/* 다양한 정보들이 들어갈 박스 */
.box{
    height: 250px;
    width: 400px;
    background-color: darkkhaki;
    margin: 40px;
}


.newitem{
    text-align: center;
}


.footer{
    background-color: rgb(255, 255, 255);
    display:flex;
    margin:20px;
    align-items:center;
    height:300px;
    width:1400px;
}
.middle{
    display:flex;
    flex-direction: column;
}
ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    text-align:center;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    width:350px;
    align-items: center;
}
li a.active {
    background-color: #4CAF50;
    color: white;
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.firstshow{
    display:flex;
    flex-direction: column;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    
}
.firstshow{
    display:flex;
    flex-direction: column;
    margin:0;
}


/*버튼*/
button{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  font-family: "여기어때 잘난체 OTF";
}
button:hover{
  background:#fff;
  color:#1AAB8A;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
